# Ignore database files
*.sqlite3

# Ignore static files
/static/

# Ignore media files
/media/

# Ignore virtual environment
/env/

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore logs
*.log

# Ignore environment variables file
.env
